@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<body>
    <div class="table-responsive-sm">
        <table class="table-light table-hover table-responsive-md col-md-12 flex-md-grow-1" >
            <thead>
            <th>Naziv</th>
            <th>Vrijeme</th>
            <th>Mjesto</th>
            <th>Adresa</th>
            <th>Cijena</th>
            <th>Vrsta Eventa</th>
            <th>Ograniceni Posjetitelji</th>
            <th>Organizator</th>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td>Naziv</td>
                    <td>Vrijeme</td>
                    <td>Mjesto</td>
                    <td>Adresa</td>
                    <td>Cijena</td>
                    <td>Vrsta Eventa</td>
                    <td>OgraniceniPosjetitelji</td>
                    <td>Organizator</td>
                    <td><button class="btn btn-outline-dark my-2-my-sm-0">Briši</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>