
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <body>
        <div class="table-responsive-sm">
            <table class="table-light table-hover table-responsive-md col-md-12 flex-md-grow-1">
                <thead>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko Ime</th>
                <th>Lozinka</th>
                <th>Email</th>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td>Naziv</td>
                        <td>Vrijeme</td>
                        <td>Mjesto</td>
                        <td>Adresa</td>
                        <td>Cijena</td>
                        <td><button class="btn btn-outline-dark my-2-my-sm-0">Briši</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>